* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,body {
  min-height:100% !important;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%) no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.add-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  margin-top: 30px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
}

.input-task {
  width: 90%;
}
.input-task input {
  width: 97%;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #eee;
  font-size: 16px;
}

.button-task {
  width: 10%;
}
.button-task button {
  font-size: 20px;
  width: 100%;
  height: 43px;
  background-color: #8E49E8;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #fff;
  font-weight: 800;
}

.tasks {
  background-color: #fff;
  width: 100%;
  min-height: 50px;
  margin-top: 10px;
}
.tasks h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
}

.tasks-content {
  margin: 0 auto;
}

.task-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0px 0px 5px 5px;
  background-color: #fff;
  padding-top: 30px;
}

.task-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin: 20px 35px 0px 35px;
  border-radius: 5px;
}

.execute {
  cursor: pointer;
  width: 10%;
  background-color: #96dff4;
  border-radius: 5px 0px 0px 5px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #fff;
}
.execute input {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.execute input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.task-text {
  color: #000;
  width: 75%;
  background-color: #f2f2f2;
  padding-left: 5px;
}
.task-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 100%;
  height: 40px;
  
  font-size: 18px;
}

.btn-delete {
  width: 15%;
}
.btn-delete button {
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  background-color: #e74c3c;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.to-do-list {
  font-family: "Montserrat", sans-serif;
}

.to-do-list {
  padding-top: 100px;
}

h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 800;
}

.btn button {
  margin-top: 30px;
  color: #fff;
  font-size: 17px;
  font-weight: 800;
  width: 130px;
  min-height: 35px;
  background-color: rgb(142, 73, 232);
  border-radius: 5px;
  /* border: 1px solid #fff; */
  margin-bottom: 20px;
}


.checkboxBtn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: rgb(126, 118, 118);
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 4%;
  border-radius: 50%
}

.fa-check {
  font-size: 24px;
  color: #fff;
}

.inputEdit {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 18px;
}


.quantityTasks {
  color: #3e3f43;
}



@media (max-width: 425px) {
  .add-task {
    padding: 0px;
  }
  .container {
    padding: 0 5px;
  }
  .input-task {
    width: 80%;
  }
  .input-task input {
    min-height: 50px;
    border-radius: 0px;
  }

  .button-task {
    width: 20%;
  }
  .button-task button {
    border-radius: 0px;
    border: none;
    min-height: 52px;
    padding-left: 5px;
  }
  .to-do-list {
    padding-top: 0px;
  }
  h1 {
    padding-top: 30px;
    /* display: none; */
  }
  .task-filter {
    width: 100%;
    background-color: transparent;
    
    position: sticky;
    bottom: 25px;
    left: 0;
  }
  .btn button {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    max-width: 120px;
    min-height: 40px;
    margin: 0px 0px;
    background-color: rgb(142, 73, 232);
    border-radius: 3px;
  }
  .completed {
  }
  .incompleted {
    margin-bottom: 0px;
  }
  .add-task {
    margin-top: 30px;
    background-color: transparent;
  }
  .tasks {
    min-height: 30%;
    background-color: transparent;
  }
  .task-content {
    display: flex;
    margin: 5px 0px;
    min-height: 60px;
  }
  .text {
    min-height: 60px;
  }
  .btn-delete button {
    height: 60px;
    border-radius: 0px 3px 3px 0px;
    color: #e74c3c;
    background-color: #f2f2f2;
  }
  .quantityTasks {
    margin-bottom: 20px;
  }
  .execute {
    background-color: #f2f2f2;
    padding: 0px 5px;
    border-radius: 3px 0px 0px 3px;
  }
  .execute i {
    color:rgb(142, 73, 232)
  }
  .inputEdit {
    min-height: 60px;
  }
}

@media (max-width: 375px) {
  .task-filter {
    display: block;
  }
  .btn button  {
    margin-top: 5px;
    min-width: 100%;
  }
}