.tasks {
  background-color: #e4f2ff;
  width: 100%;
  min-height: 50px;
  margin-top: 10px;
  height: 200px;
  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
  }
}
