@import "./zeroing.css";
@import './dragdrop.css';

.task-text {
  display: flex;
}


.circle-toggle-false {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.circle-toggle-false {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
}